/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*----- Universal Styles -----*/
body{background-color: #337ab7; margin: 0; font: normal 14px arial}
div.container{width: 90%; max-width: 1200px; background-color: #fff; box-sizing: border-box; padding: 2%; margin: 0 auto;}
img{width: 100%}
a:hover{background-color: transparent; color:#333;}
.btn{background-color: #337ab7; border: 1px solid #337ab7; color: #fff; text-decoration: none; padding: 1%; font-size: 1rem;}
.btn:hover{background-color: #ddd; color: #333;  border-color: #333;}
.alert{position: fixed; width: 90%; max-width: 1200px; text-align: center; background-color: red; color: white; left: 50%; transform: translatex(-50%);}
@media screen and (max-width: 767px){
	.alert{position: relative;}
}

/*----- Main Nav -----*/
@media screen and (min-width: 768px){
	div.container{margin-top: 150px;}
	nav.topnav{position: fixed; width: 90%; max-width: 1200px; top: 0; left: 50%; transform: translatex(-50%); background-color: #ddd; border-bottom: 1px solid #333; display: flex; justify-content: space-between; z-index: 1;}
	nav.topnav p:first-of-type{max-width: 270px;}
	nav.topnav > p:not(:first-of-type){display: flex; max-width: 375px;}
	nav.topnav > p:not(:first-of-type) a{display: inline-block; text-align: center; border: 1px solid #333; box-sizing: border-box; padding: 10px; width: 50%; margin-right: 5%; background-color: #fff;}
	nav.topnav > p:not(:first-of-type) a:hover{background-color: rgba(51,122,183, 0.7);}
}
@media screen and (max-width: 767px){
	nav.topnav{border-bottom: 1px solid #333; padding-bottom: 15px;}
	nav.topnav p:first-of-type{max-width: 80%; display: block; margin: 0 auto;}
	nav.topnav > p:not(:first-of-type){display: flex; justify-content: space-evenly}
	nav.topnav > p:not(:first-of-type) a{display: inline-block; text-align: center; border: 1px solid #333; padding: 15px; margin: 0 5%; background-color: #fff;}
}

/*----- Products Page -----*/
#product-container{text-align: center;}
.product{display: inline-block; text-align: left; width: 30%; border: 1px solid #333; margin: 1%; position: relative;}
.product h3{font-size: 1rem; position: absolute; top: 0; left: 0; margin: 0; width: 100%; box-sizing: border-box; padding: 5%; background-color: rgba(119,119,119,.5);}
.product > p{font-size: 1.4rem; margin: 0; padding: 5%;}
.product section{background-color: #ddd; display: flex; justify-content: space-evenly; text-align: center; padding-bottom: 10px;}
@media screen and (max-width: 767px){
	.product{display: block; margin: 10% 5%; width: auto;}
	.product > p, .product h3{font-size: 6vw;}
}

/*----- Products Detail Page -----*/
#product-detail img{width: 100%; max-width: 400px; margin: 0 20px 20px 0;}
#product-detail > div{width: 100%; max-width: 600px; display: inline-block; vertical-align: top;}
#product-detail nav{margin-top: 30px;}
#product-detail nav a{background-color: #337ab7; border: 1px solid #337ab7; color: #fff; text-decoration: none; padding: 1%; margin-right: 2%; font-size: 1rem; display: inline-block; min-width: 100px; text-align: center;}
#product-detail nav a:last-of-type{margin-right: 0;}
#product-detail nav a:hover{background-color: #ddd; color: #333; border-color: #333;}

/*----- Sign Up/Login Pages -----*/
.user-form{width: 80%; max-width: 500px; margin: 10% auto; background-color: #ddd; border: 1px solid #333; box-sizing: border-box; padding: 2%; text-align: center; font-size: 1.2rem;}
.user-form input{width: 100%; font-size: 1.2rem; box-sizing: border-box; padding: 5px;}
.user-form h2{margin-top: 0;}
.user-form .remember{margin: 5% 0;}
.user-form .remember input, .user-form .remember label{display: inline; width: auto;}
.user-form .actions{width:80%; margin: 5% auto; background-color: #337ab7;}
.user-form .actions input{background-color: transparent; color: #fff; padding: 5px 0; border: 0;}
.user-form .actions input:hover{background-color: #88abca; cursor: pointer;}
@media screen and (max-width: 767px){
	.user-form > a{border:1px solid #333; display: block; width: 100%; box-sizing: border-box; padding: 5px;}
}
