<nav class="topnav">
	<p><a href="#"><%= image_tag("logo.png") %></a></p>
	<p>
		<a href="#"><%= image_tag("login-icon.png") %><br>Login</a>
		<a href="#"><%= image_tag("checkout-icon.png") %><br>Cart</a>
	</p>
</nav>